#HTTP
server {
        listen 80;
        server_name  {{ nginx_host[item.0] }};
        underscores_in_headers on;
        proxy_buffers 4 256k;	
        proxy_buffer_size 128k;
        proxy_busy_buffers_size 256k;
        include /etc/nginx/mime.types;
	# favicon.ico
        location = /favicon.ico {
        	log_not_found off;
        	access_log    off;
        }
         
        # robots.txt
        location = /robots.txt {
        	log_not_found off;
	        access_log    off;
        }
                
        location / {
	 	proxy_set_header Host $host;
        	proxy_set_header X-Forwarded-Proto $scheme;
	        proxy_set_header X-Forwarded-Host $host;
	        proxy_set_header X-Forwarded-Port $server_port;
	        proxy_pass http://proxy;
	        limit_req zone=http-zone burst=60 nodelay;
	 #####Add CORS(Cross-origin resource sharing)##########
  		{% if cors %}
   		add_header 'Access-Control-Allow-Origin' '*' always;
                add_header 'Access-Control-Allow-Credentials' 'true' always;
                add_header 'Access-Control-Allow-Methods' 'GET,OPTIONS,PUT' always;
                add_header 'Access-Control-Allow-Headers' 'Authorization,Accept,Origin,DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Content-Range,Range' always;
                add_header 'Access-Control-Expose-Headers' 'Cache-Control,Content-Language,Content-Type,Expires,Last-Modified,Pragma' always;
		{% endif %}
        }
}
